{% extends 'layout.html' %}
{% block body %}
    <h3>About us...</h3>
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Quisque urna ligula, vestibulum at sem et, feugiat faucibus 
        augue. Vivamus pulvinar bibendum metus placerat fringilla. 
        Vivamus pulvinar, diam at dictum aliquam, dolor diam hendrerit 
        tortor, eu feugiat turpis tellus non nisi. Vestibulum eu orci
        libero. Pellentesque pretium condimentum eros. Aenean vel nunc
        et orci aliquam ullamcorper a quis arcu. Proin sit amet tellus
        id ligula mattis egestas. Mauris velit eros, mollis ut euismod
        vel, cursus non lectus. Cras hendrerit iaculis sem, in l
        obortis nunc cursus at. Mauris vel finibus est. Quisque ipsum
        ligula, rutrum vel mauris vel, dictum congue sem. Integer.
    </p>
    <hr>
{% endblock body %}